.icon-angle-left:before {
  content: "\f104";
} /* '' */
.icon-angle-right:before {
  content: "\f105";
} /* '' */
.icon-gh:before {
  content: "\f113";
} /* '' */
.icon-git:before {
  content: "\f1d3";
} /* '' */
