.icon-angle-left {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf104;&nbsp;"
  );
}
.icon-angle-right {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf105;&nbsp;"
  );
}
.icon-gh {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf113;&nbsp;"
  );
}
.icon-git {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf1d3;&nbsp;"
  );
}
