{% set pagename = 'ideas' %}
{% include 'top.html' %}
<div>
<h2>Keywords</h2>
<p>self-ownership, collaboration, do-it-together, real social web, gift economy, freedom, experiment</p>
<h2>Interesting books</h2>
<ul>
<li>Tom Hodgkinson: Freedom Manifesto</li>
<li>Stephen Wolfram: A New Kind of Science</li>
<li>Nassim Nicholas Taleb: Antifragile: Things That Gain from Disorder</li>
<li>Howard Bloom: Global Brain: The Evolution of Mass Mind from the Big Bang to the 21st Century</li>
<li>James Surowiecki: The Wisdom of Crowds</li>
<li>Antoine de Saint-Exupéry: Citadelle</li>
<li>Robert B. Cialdini: Influence: Science and Practice</li>
<li>Andrew M. Lobaczewski: Political Ponerology (interesting book on psychopathy and politics)</li>
<li>Eckhart Tolle: The Power of Now: A Guide to Spiritual Enlightenment</li>
</ul>
The list is not complete. I find these books "eye opening" (showing the world through different/new eyes). Read carefully and with grain of skepticism.
</div>
{% include 'bottom.html' %}
