{% set pagename = 'main' %}
{% set css = ['https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'] %}
{% include 'top.html' %}
<div class="center">
  <div id="main-text">mrkvon: human, nomad, web developer, street artist</div>
  <div><a href="https://github.com/mrkvon" target="_blank" ><i class="fa fa-github-alt fa-lg"></i></a></div>
  <hr />
  <div><a href="mailto:dopr@email.cz" >dopr@email.cz</a>
    <div>
      <a href="/public.txt">PGP key</a>
    </div>
  </div>
</div>
{% include 'bottom.html' %}
