{% set pagename = 'main' %}
{% set css = ['https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'] %}
{% include 'top.html' %}
<div class="center">
  <div id="main-text">mrkvon is a nickname of a human</div>
  <div><a href="https://github.com/mrkvon" target="_blank" ><i class="fa fa-github-alt fa-lg"></i></a></div>
  <hr />
  <div><a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6D;&#x72;&#x6B;&#x76;&#x6F;&#x6E;&#x20;&#x61;&#x74;&#x20;&#x70;&#x72;&#x6F;&#x74;&#x6F;&#x6E;&#x6D;&#x61;&#x69;&#x6C;&#x20;&#x64;&#x6F;&#x74;&#x20;&#x63;&#x6F;&#x6D;" >&#x6D;&#x72;&#x6B;&#x76;&#x6F;&#x6E;&#x20;&#x61;&#x74;&#x20;&#x70;&#x72;&#x6F;&#x74;&#x6F;&#x6E;&#x6D;&#x61;&#x69;&#x6C;&#x20;&#x64;&#x6F;&#x74;&#x20;&#x63;&#x6F;&#x6D;</a>
    <div>
      <a href="/public.txt">PGP key</a>
    </div>
  </div>
</div>
{% include 'bottom.html' %}
