{% set pagename = 'projects' %}
{% include 'top.html' %}
<div>
<h2>active</h2>
<ul>
    <li><a href="http://ditup.org" target="_blank">ditup</a></li>
</ul>

<h2>incubated, paused</h2>
<ul>
    <li><a href="http://livegraph.org" target="_blank">livegraph</a></li>
    <li><a href="http://imgur.com/a/q8dpT/embed#22" target="_blank">comix diary</a></li>
</ul>

<h2>past</h2>
<ul>
<li>some graphics for <a href="http://www.franticware.com/multiracer" target="_blank">MultiRacer</a></li>
</ul>
{% include 'bottom.html' %}
