<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://ogp.me/ns/fb#" >
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="img/face.jpg" />
<meta charset="utf-8" />
<meta name="description" content="Homepage of Michal Salajka" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>mrkvon::{{pagename}}</title>

<meta property="og:type" content="website" />
<meta property="og:image" content="/" />
<meta property="og:title" content="Web portfolio of Michal Salajka" />
<meta property="og:description" content="Check out a homepage of one of 7 billion human beings. Information, projects, books, ideas included." />

<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
{% for link in css %}
<link rel="stylesheet" type="text/css" href="{{ link }}" />
{% endfor %}
</head>
<body>
<div id="wrapper">
{% include 'menu.html' %}
<div id="page">
<main>
