html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  /*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  font-family: georgia, serif;
  font-size: 1.2em;
  background-color: #81c0c5;
}

#wrapper {
  position: relative;
  width: 600px;
  margin: 60px auto 10px auto;
}

#menu ul li {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 1.5em;
  list-style-type: none;
}

#menu a:hover,
#menu .active {
  background-color: white;
  color: #389090;
}
#menu a {
  color: white;
}

#menu {
  z-index: 5;
}

#page {
  position: relative;
  background-color: white;
  padding: 30px;
}

#twitter {
  position: relative;
}

#twitter_img {
  height: 30;
  width: 30;
}

#rss {
  position: absolute;
  top: 10px;
  right: 10px;
}

#rss a:hover {
  background-color: white !important;
}

div {
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: georgia, serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #389090;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2,
h3,
h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.85em;
}

p {
  margin-bottom: 1em;
  clear: left;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: #389090;
}
a:hover {
  text-decoration: none;
  background-color: #81c0c5;
  color: #fff;
  /*border-radius:5px;*/
}

#page ul,
#page ol {
  padding-left: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#page ul li,
#page ol li {
  padding-bottom: 0.5em;
}

#page ul {
  list-style-type: circle;
}

#page ol {
  list-style-type: decimal;
}

.post {
  color: #389090;
  font-weight: bold;
}

hr {
  color: #81c0c5;
  background-color: #81c0c5;
  height: 5px;
  border: 0;
}

img {
  max-width: 100%;
}

img.left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

table {
  border: 1px solid black;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

table td,
table th {
  padding: 5px;
  border: 1px solid black;
  max-width: 60px;
  overflow: hidden;
  background-color: white;
}

table tr {
  line-height: 1em;
}

#map {
  height: 200px;
  width: 100%;
}

.bold_type {
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  #wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  #wrapper {
    width: 320px;
  }
}

.center {
  text-align: center;
}

#main-text {
  margin-bottom: 40px;
}

/* highlight span with title */
span[title] {
  color: #666;
}

/* make the code scroll, not overflow and add some colors */
pre {
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #222;
  color: whitesmoke;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

code {
  font-family: monospace;
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  font-size: 0.9em;
}

:not(pre) > code {
  border: 1px solid #81c0c5;
}

em {
  font-style: italic;
}

a svg {
  fill: #389090;
}

a:hover svg {
  fill: white;
}
